<div class="contenido-dashboard">

    <!-- Ruta / ubicación -->
    <div class="ruta-dashboard">
        Inicio / <span>Horarios</span>
    </div>

    <!-- Título principal -->
    <h1 class="titulo-dashboard">Horarios</h1>

    <!-- Filtro -->
    <section class="seccion-dashboard">
        <div class="encabezado-seccion">
            <span>Filtrar horarios</span>
        </div>
        <div class="filter-section">
            <input type="text" class="input-filter" placeholder="Filtrar por nombre">
            <button class="btn btn-outline">
                <i class="ri-search-line"></i>
            </button>
        </div>
    </section>

    <!-- Tabla -->
    <section class="seccion-dashboard">
        <div class="encabezado-seccion">
            <span>Lista de horarios</span>
        </div>
        <section class="table-section">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Hora Inicio</th>
                        <th>Hora Fin</th>
                        <th>Jornada Asignada</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Las filas se llenan con JS -->
                </tbody>
            </table>
        </section>
    </section>

</div>
