/* ================= INSTRUCCIONES DE IMPORTACIÓN ================= */
.instrucciones-import ul {
    list-style: none;
    background-color: var(--color-griscardAprendices);
    border-radius: 10px;
    padding: 10px;
}

.instrucciones-import li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #4b5563;
    height: 20px;
}

.instrucciones-import li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #16a34a;
    /* verde */
    font-weight: bold;
}

/* ================= ZONA DE ARCHIVO ================= */
.zona-archivo {
    margin-top: 10px;
}

.archivo-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #22c55e;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    text-align: center;
    background-color: var(--color-griscardAprendices);
}

.archivo-drop:hover {
    background-color: #f0fdf4;
    /* verde muy claro */
    border-color: #16a34a;
}

.archivo-icono {
    font-size: 40px;
    margin-bottom: 10px;
}

.archivo-texto {
    font-size: 14px;
    color: #374151;
    /* gris medio */
    margin-bottom: 5px;
}

.archivo-formatos {
    font-size: 12px;
    color: #6b7280;
    /* gris claro */
}

/* ================= INPUT FILE ================= */
#inputArchivoExcel {
    display: none;
}