<div class="bodyContent">
    <div class="login">
        <!-- Lado izquierdo con logo -->
        <div class="form__left">
            <div class="left_back">
                <a href="#/Resetcode" class="form__link"><i class="ri-arrow-left-line"></i></a>
            </div>
            <img src="../../../public/img Sena.png" alt="Logo SENA" class="form__logo">
            <hr class="form__space">
            <h2 class="form__title">Gestión <br> Biblioteca</h2>
        </div>

        <!-- Lado derecho con formulario de recuperación -->
        <div class="form__right">
            <h2 class="form__welcome">Restauración <br> Contraseña</h2>
            <form class="form__form" id="formulario" novalidate autocomplete="off">
                <div class="form__grupo">
                    <label class="form__label">Nueva Contraseña:</label>
                    <input class="form__input" type="password" id="newPassword" name="newPassword" required>
                </div>
                <div class="form__grupo">
                    <label class="form__label">Confirmar Nueva Contraseña:</label>
                    <input class="form__input" type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
                <div class="form__footer">
                    <button type="submit" class="form__button">Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>