.bodyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    height: 60%;
    border-radius: 12px;
    overflow: hidden;
}

.login__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.login__logo {
    width: 40%;
    height: 40%;
}

.login__space {
    width: 60%;
    height: 3px;
    border: none;
    border-radius: 10px;
    background-color: #39A900;
}

.login__title {
    color: #39A900;
    font-weight: 700;
    font-family: "Work Sans";
    font-style: normal;
    text-align: center;
}


/* DERECHA */
.login__right {
    background: #a1dd83;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.login__welcome {
    font-size: 30px;
    font-weight: 700;
    color: #1C5400;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login__grupo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.login__label {
    font-weight: 600;
    color: #1C5400;
}

.login__input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #4e6d3e;
    outline: none;
}

.login__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.login__redirect {
    font-size: 14px;
    font-weight: 700;
    color: #1C5400;
}

.login__button {
    padding: 12px 0;
    border-radius: 7px;
    border: none;
    background-color: #1C5400;
    color: #fff;
    width: 70%;
}

.login__link {
    text-decoration: none;
    color: #143501;
}