.bodyContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    height: 70%;
    border-radius: 12px;
    overflow: hidden;
}

.form__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}

.form__logo {
    width: 40%;
    height: 40%;
}

.form__space {
    width: 60%;
    height: 3px;
    border: none;
    border-radius: 10px;
    background-color: #39A900;
}

.form__title {
    color: #39A900;
    font-weight: 700;
    font-family: "Work Sans";
    font-style: normal;
    text-align: center;
}



/* DERECHA */
.form__right {
    background: #a1dd83;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.form__welcome {
    font-size: 30px;
    font-weight: 700;
    color: #1C5400;
}

.form__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__grupo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form__label {
    font-weight: 600;
    color: #1C5400;
}

.form__input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #4e6d3e;
    outline: none;
}

.form__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.form__redirect {
    font-size: 14px;
    font-weight: 700;
    color: #1C5400;
}

.form__button {
    padding: 12px 0;
    border-radius: 7px;
    border: none;
    background-color: #1C5400;
    color: #fff;
    width: 70%;
}

.form__link {
    text-decoration: none;
    color: #143501;
}

.space {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 25px;
    align-items: center;
}

.space > *:nth-child(7) {
    grid-column: 1 / 3;      
    display: flex;
    justify-content: center;   
}

.oculto{
    display: none;
}