<div class="contenido-dashboard">

    <!-- Ruta -->
    <div class="ruta-dashboard">
        Inicio / <span>Areas</span>
    </div>

    <!-- Titulo + accion -->
    <div class="titulo-accion">
        <h1 class="titulo-dashboard">Areas</h1>

        <button class="btn btn-primary" id="btnnuevorooms">
            <i class="ri-add-line"></i>
            Nueva Area
        </button>
    </div>

    <!-- Filtros -->
    <section class="seccion-dashboard">
        <div class="filter-section filter-doble">
            <div>
                <label>Filtrar por nombre</label>
                <input type="text" class="input-filter" placeholder="Buscar">
            </div>

            <div>
                <label>Filtrar por estado</label>
                <select class="input-filter" id="filter">
                    <option value="">Todos</option>
                </select>
            </div>

            <button class="btn btn-outline">
                <i class="ri-delete-bin-6-line"></i> 
            </button>
        </div>
    </section>

    <!-- Tabla -->
    <section class="seccion-dashboard">
        <section class="table-section">
            <table class="table motivos-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </section>
    </section>

</div>