<div class="bodyContent">
    <div class="login">
        <div class="form__left">
            <img src="../../../public/img Sena.png" alt="Logo SENA" class="form__logo">
            <hr class="form__space">
            <h2 class="form__title">Gestión <br> Biblioteca</h2>
        </div>

        <div class="form__right">
            <h2 class="form__welcome">Bienvenido/a</h2>

            <form class="form__form space" id="formulario" novalidate autocomplete="off">
                <div class="form__grupo">
                    <label class="form__label">Nombres:</label>
                    <input class="form__input" type="text" name="nombres" required>
                </div>

                <div class="form__grupo">
                    <label class="form__label">Apellidos:</label>
                    <input class="form__input" type="text" name="apellidos" required>
                </div>

                <div class="form__grupo">
                    <label class="form__label">No. Documento:</label>
                    <input class="form__input" type="text" id="documento" name="usuario_id" required>
                </div>

                <div class="form__grupo">
                    <label class="form__label">Rol en el Sena:</label>
                    <select class="form__input" name="rol_sena" required>
                        <option value="">Seleccione</option>
                    </select>
                </div>

                <div class="form__grupo">
                    <label class="form__label">Correo Electrónico:</label>
                    <input class="form__input" type="email" name="correo" required>
                </div>

                <div class="form__grupo">
                    <label class="form__label">Teléfono:</label>
                    <input class="form__input" type="tel" name="telefono" required>
                </div>

                <div class="form__footer">
                    <button type="submit" class="form__button">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
