:root{
    --color-principal:#39A900;
    --color-lateralForm:#9BD37F;
    --color-blanco:#FFFFFF;
    --color-verdeOscuroPrincipal:#1C5400;
    --color-verdeFontandLineal:#39A900;
    --color-gris:#9ca3af;
    --color-fontJornadas:#37383a;
    --color-griscardAprendices:#e3e4e6;
    
    --color-grisCardJornadas:#f3f4f5;
}