<div class="contenido-dashboard">

    <!-- Ruta -->
    <div class="ruta-dashboard">
        Inicio / <span>Usuarios</span>
    </div>

    <!-- Titulo + acción -->
    <div class="titulo-accion">
        <h1 class="titulo-dashboard">Usuarios</h1>

        <button class="btn btn-primary" id="btnNuevoUsuario">
            <i class="ri-add-line"></i>
            Nuevo Usuario
        </button>
    </div>

    <!-- Filtros -->
    <section class="seccion-dashboard">
        <div class="filter-section filter-doble">
            <div>
                <label>Filtrar por nombre</label>
                <input type="text" class="input-filter" id="filtroNombre">
            </div>

            <div>
                <label>Filtrar por encargado</label>
                <input type="text" class="input-filter" id="filtroEncargado">
            </div>

            <button class="btn btn-outline" id="btnFiltros">
                <i class="ri-filter-3-line"></i>
            </button>
        </div>

        <div class="filter-section filter-oculto" id="filtrosAvanzados" style="display:none; margin-top:12px;">
            <div>
                <label>Filtrar por Documento</label>
                <input type="text" class="input-filter" id="filtroDocumento">
            </div>

            <div>
                <label>Filtrar por Rol</label>
                <select class="input-filter" id="filtroRol">
                    <option value="">Todos</option>
                </select>
            </div>

            <div>
                <label>Filtrar por estado</label>
                <select class="input-filter" id="filtroEstado">
                    <option value="">Todos</option>
                </select>
            </div>
        </div>
    </section>

    <!-- Tabla -->
    <section class="seccion-dashboard">
        <section class="table-section">
            <table class="table usuarios-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Rol</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- JS manda aquí 😎 -->
                </tbody>
            </table>
            <div class="pagination-container">
                <div class="pagination"></div>
            </div>
        </section>
    </section>

</div>