<section class="jornadas">

    <!-- Ruta -->
    <div class="ruta">
        <span>Inicio</span> / <span>Jornadas</span>
    </div>

    <h2 class="titulo">Jornadas</h2>

    <div class="cards">
        <div class="card" data-jornada="noche">
            <div class="card-header">
                <h3>Noche</h3>

                <label class="switch">
                    <input type="checkbox">
                    <span></span>
                </label>
            </div>

            <div class="card-body">
                <small>Horario asignado</small>

                <div class="horarios"></div>

                <button class="btn">
                    + Asignar horario
                </button>
            </div>
        </div>
    </div>
</section>