<section class="contenido-dashboard">   

    <!-- Ruta -->
    <div class="ruta">
        <span>Inicio</span> / <span>Jornadas</span>
    </div>

    <!-- Header con botón -->
    <div class="titulo-accion">
        <h1 class="titulo-dashboard">Jornadas</h1>

        <button class="btn btn-primary" id="btnNuevoHorario">
            <i class="ri-add-line"></i>
            Nuevo horario
        </button>
    </div>

    <section class="seccion-dashboard">
        <!-- Cards -->
        <div class="cards">
            <!-- aquí se renderizan las jornadas -->
        </div>

    </section>

</section>
