<div class="contenido-dashboard">

    <!-- Ruta / ubicación -->
    <div class="ruta-dashboard">
        Inicio / <span>Fichas</span>
    </div>

    <!-- Título + botón -->
    <div class="titulo-accion">
        <h1 class="titulo-dashboard">Fichas</h1>

        <button class="btn btn-primary" id="btnNuevaFicha">
            <i class="ri-add-line"></i>
            Nueva ficha
        </button>
    </div>

    <!-- Filtro -->
    <section class="seccion-dashboard">
        <div class="filter-section filter-doble">
            <div>
                <label>Filtrar por ficha o programa</label>
                <input type="text" class="input-filter" placeholder="Buscar">
            </div>
            <button class="btn btn-outline">
                <i class="ri-search-line"></i>
            </button>
        </div>
    </section>

    <!-- Tabla -->
    <section class="seccion-dashboard">
        <div class="encabezado-seccion">
            <span>Lista de fichas</span>
        </div>

        <section class="table-section">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ficha</th>
                        <th>Programa</th>
                        <th>Acciones</th> <!-- quitamos "Fecha creación" -->
                    </tr>
                </thead>
                <tbody id="fichas-tbody">
                    <!-- Aquí pinta el JS -->
                </tbody>
            </table>
        </section>
    </section>

</div>

<!-- Controlador -->
<script type="module" src="fichasController.js"></script>