<div class="bodyContent">
    <div class="login">
        <!-- Columna izquierda -->
        <div class="form__left">
            <img src="../../../public/img Sena.png" alt="Logo SENA" class="form__logo">
            <hr class="form__space">
            <h2 class="form__title">Gestión <br> Biblioteca</h2>
        </div>

        <!-- Columna derecha -->
        <div class="form__right">
            <h2 class="form__welcome">Bienvenido/a</h2>

            <div class="form__form">
                <div class="form__grupo">
                    <button class="buttonhome" onclick="location.href='#/Asistencia'">
                        Registrar Asistencia
                    </button>
                </div>

                <div class="form__grupo">
                    <button class="buttonhome" onclick="location.href='#/Login'">
                        Iniciar Sesion
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
