@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./Helpers/Customs/CustomsPropeties.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Work Sans";
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0;
}

/* 🔹 Fondo cuando NO hay sesión */
body.no-role {
  display: block;
  background-image: url('../public/fondo.png');
  background-size: cover;
  background-position: center;
}

/* 🔹 Layout cuando hay sesión */
body.with-role {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #fff;
}

/* 🔹 Sidebar */
.sidebar {
  width: 230px;
  height: 100vh;
  background-color: var(--color-principal);
  color: #fff;
  display: flex; /* por defecto lo mostramos */
  flex-direction: column;
  overflow-y: auto;
  transition: all 0.3s ease;
}

/* 🔹 Ocultar sidebar si no hay sesión */
body.no-role .sidebar {
  display: none !important; /* forzamos ocultarlo */
}

/* 🔹 Contenedor principal */
#app {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}
