@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-family: "Work Sans";
  font-style: normal;
}

#app{
  width: 100%;
}

body {
  min-height: 100vh;
}

body.no-role {
  display: block;
  background-image: url("../public/fondo.png");
}

body.with-role {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: #f0f2f5;
}

