/* ================= MODAL ================= */

.modal {
    border: none;
    padding: 0;
    border-radius: 10px;
    width: 50%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================= CONTENIDO ================= */

.modal-contenido {
    background: var(--color-blanco);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding: 22px 24px; */
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

/* ================= TITULOS ================= */
.modal__titulos{
 padding: 15px;
 margin-bottom: 9px;
 border-bottom: 1px solid var(--color-verdeOscuroPrincipal);
}

.modal-titulo {
    color: var(--color-verdeFontandLineal);
    font-size: 18px;
    margin-bottom: 4px;
}

.modal-subtitulo {
    font-size: 13px;
    color: #6b7280;
    padding-bottom: 10px;
}

/* ================= SECCIONES ================= */

.modal-seccion {
    margin-top: 16px;
    padding: 0px 20px;
    
}

.modal-seccion h4 {
    width: 100%;
    display: block;
    padding-bottom: 12px;
    margin-bottom: 14px;
    border-bottom: 1px solid var(--color-verdeOscuroPrincipal);
    font-size: 19px;
    color: var(--color-verdeFontandLineal);
}

/* ================= GRID ================= */

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

/* ================= TEXTO ================= */

.label {
    font-size: 14px;
    color: #6b7280;
    display: block;
    margin-bottom: 4px;
}

.valor {
    font-size: 14px;
    color: #111827;
    font-weight: 500;
}

/* ================= FOOTER ================= */

.modal-footer {
    margin-top: auto;
    padding-top: 12px;
    border-top: 1px solid var(--color-verdeOscuroPrincipal);
    display: flex;
    margin-bottom: 10px;
    padding-right: 20px;
    justify-content: flex-end;

}

/* ================= BOTON ================= */

.btn-cerrar {
    border: 1px solid #22c55e;
    background: transparent;
    color: var(--color-verdeFontandLineal);

    padding: 8px 20px;
    border-radius: 6px;

    font-size: 14px;
    cursor: pointer;
}

.btn-cerrar:hover {
    background: #dcfce7;
}
