
.contenedor {
    max-width: 1000px;
    margin: auto;
}

.breadcrumb {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
}

.breadcrumb span {
    color: #2e7d32;
}

.titulo {
    color: #2e7d32;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card h3 {
    color: #2e7d32;
    font-size: 18px;
    margin-bottom: 5px;
}

.linea {
    height: 2px;
    background: #2e7d32;
    margin-bottom: 15px;
}

.fila {
    display: flex;
    gap: 40px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.campo {
    flex: 1;
    min-width: 250px;
}

.campo label {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 4px;
}

.campo p {
    font-size: 14px;
    color: #333;
}

.link-verde {
    color: #2e7d32;
    text-decoration: none;
    font-weight: bold;
}

.link-verde:hover {
    text-decoration: underline;
}

.acciones {
    text-align: right;
}



.btn-editar:hover {
    background: #256628;
}
